.container{
  margin-right: 600px;
}
.main-div{
        padding-left: 50px;
      } 
      .sub-div{
       display: flex;
       margin: 30px; 
      }
      
      .button{
        background-color: white;
        width: 200px;
        height: 50px;
        border-color: gray;
        border-width: 1px;
        margin: 4px;
        text-align: left;
       
      } 
      .img-div{
       margin-inline: 30px;
      }