* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,  sans-serif;
}
body {
    background: #f9fdfb;
    color: #222;
}
/* navnar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    align-items: center;
}
.logo{
    font-size: 22px;
    font-weight: bold;
}
.logo span {
 color: #2dbf7f;
}
.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}
.login {
    background: transparent;
    border: 1px solid #2dbf7f;
    padding: 6px 14px;
    margin-left: 10px;
    border-radius: 5px;
}
.signup {
    background: #2dbf7f;
    color: white;
    border: none;
    padding: 6px 14px;
    margin-left: 10px;
    border-radius: 5px;
}
/* hero */
.hero {
    background: #dff6ea;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
}
.hero-text {
    max-width: 50%;
}
.hero-text h1 {
    font-size: 42px;
    margin-bottom: 20px;
}
.hero-text p {
    margin-bottom: 25px;
    color: #555;
}
.cta {
    background: #2dbf7f;
    border: none;
    padding: 12px 25px;
    color: white;
    font-size: 16px;
    border-radius: 8px;
}
.hero-image img {
    width: 320px;
}
/* brands */
.brands {
    display: flex;
    justify-content: space-around;
    padding: 25px;
    background: white;
    font-weight: bold;
    color: #777;
}
/* services */
.services {
    text-align: center;
    padding: 60px 80px;
}
.services h4 {
    color: #2dbf7f;
    margin-bottom: 10px;
}
.service h2 {
    margin-bottom: 10px;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.card {
    background: white;
    padding: 25px;
    width: 30%;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
.card h3 {
    margin-bottom: 15px;
}
.card p {
color: #666;
margin-bottom: 15px;
}
.card a {
    color: #2dbf7f;
    text-decoration: none;
    font-weight: bold;
}
/* stats */
.stats{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background: #f1fbf6;
}
.stats h3 {
    color: #2dbf7f;
    font-size: 28px;
}