.up-main{
    display: flex;
    gap: 300px;
}
.button{
    background-color: gold;
    border-radius: 50px;
    border: none;
    padding: 30px;
}
.sub-div {
    display: flex;
    gap: 50px;
    color: white;
    background-color: black;
    margin-right: 400px;
    padding-top: 40px;
}